/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.button{	
	-fx-background-color: #008CBA;  /* Blue */
	-fx-border: none;
	-fx-transition-duration: 0.4s;
	-fx-text-fill: white;
	-fx-display: inline-block;  
	-fx-text-decoration: none;
	-fx-cursor: pointer;
}


.button:hover {
  -fx-background-color: #4CAF50; /* Green */
  -fx-text-fill: greenyellow;
}

